#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config WATCH_UI_LOGIN
        tristate "WATCH UI LOGIN PROGRAM"
        default y
        depends on EXAMPLES_WATCHUI
        ---help---
                Enable support for Watch ui login.

