[submodule "nuttx-apps"]
	path = nuttx-apps
	url = https://github.com/461911662/nuttx-apps.git
[submodule "boss1-app/graphics/lvgl"]
	path = boss1-app/graphics/lvgl
	url = https://github.com/461911662/lvgl
[submodule "boss1-app/system/libuv/libuv"]
	path = boss1-app/system/libuv/libuv
	url = https://github.com/461911662/libuv
