#
# For a description of the syntax of this configuration file,
# see the file kconfig-language.txt in the NuttX tools repository.
#

config MY_HTTPD_CGI_MAIN
	tristate "My HTTPD CGI programs"
	default n
	depends on FS_BINFS && MY_THTTPD
	---help---
		Enable CGI programs for captive portal

if MY_HTTPD_CGI_MAIN

config MY_HTTPD_CGI_DEBUG
	bool "Enable CGI debug logging"
	default n
	---help---
		Enable debug logging in CGI programs.

config MY_HTTPD_CGI_USE_CJSON
	bool "Use cJSON for CGI response"
	default y
	select NETUTILS_CJSON
	---help---
		Use cJSON library for generating JSON responses in CGI programs.
		This provides a cleaner API for building JSON responses.

endif

